.content {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(170, 169, 231);
  /* adding padding to top to put about title below navbar */
}
.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 0%;
}
.link {
  margin-top: 0%;
  font-size: 1.6em;
  margin-top: -20px;
}
.text {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -30px;
}
#sprite-image {
  height: 512px;
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  background: url(images/spr_cornelius_dad_512.png) 0px 0px;
  /* animating this sprite */
  animation: play 1.4s steps(2) infinite;
  background-size: -100%;
}
@keyframes play {
  100% {
    background-position: 1024px;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 800px) {
  /* MEdia queries to adjust all of these relative to phone screens */
  .title {
    font-size: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
  }
  .link {
    margin-top: 0%;
    font-size: 1.2rem;
  }
  .text {
    margin-top: 0px;
    font-size: 1.2em;
  }
  #sprite-image {
    height: 256px;
    width: 256px;
    margin-left: auto;
    margin-right: auto;
    background: url(images/spr_cornelius_dad_256.png) 0px 0px;
    /* animating this sprite */
    animation: play 1.4s steps(2) infinite;
  }
  @keyframes play {
    100% {
      background-position: 512px;
    }
  }
}
